<!doctype html>
<html>
    <body>
        <h1>Graph Data</h1>
        <h2>{{ filename }}</h2>
        <table>
            <tr>
                {% for key in data.0.keys %}
                <th>{{ key }}</th>
                {% endfor %}
            </tr>
            {% for row in data %}
            <tr>
                {% for val in row.values %}
                <td>{{ val }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
        <a href="{% url 'file_list' %}">
            <button>Choose another file</button>
        </a>
    </body>
</html>
